#loginPageWrapper {
  display: flex;
  flex-flow: column;
  align-items: center;
  align-content: center;
  justify-items: center;
  overflow: hidden;
  margin: 0 5%;
  max-width: 90%;
  width: 90%;
  max-height: 100vh;
  height: 100vh;
  background-color: #eed3d7;
}

#loginFormWrapper {
  margin-bottom: 10%;
}
