#loginFormWrapper {
  display: flex;
  flex-flow: column;
  flex-wrap: nowrap;
  align-items: center;
  align-content: center;
  z-index: 9;
  overflow: hidden;
  padding: 10%;
  margin: 10% 0;
  background-color: rgb(220, 163, 182);
  border-radius: 10%;
  width: 60vw;
  max-width: 60vw;
}

#titleWrapper {
  display: inherit;
  flex-flow: inherit;
  flex-wrap: inherit;
  align-items: inherit;
  align-content: inherit;
  justify-items: center;
  justify-content: center;
  margin: 0 0 10% 0;
  color: white;
  text-align: center;

}

#titleWrapper > h3 {
  margin-top: 5%;
  width: 80%;
}

#loginForm {
  display: inherit;
  flex-flow: inherit;
  flex-wrap: inherit;
  align-items: inherit;
  align-content: inherit;
  width: 100%;
  max-width: 100%;
  height: 100%;
}

label, button, input, .formLight {
  display: inherit;
  flex-flow: inherit;
  flex-wrap: inherit;
  align-items: inherit;
  align-content: inherit;
  justify-items: center;
  justify-content: center;
  width: 80%;
  max-width: 80%;
  color: white;
  font-size: 1rem;
  text-align: center;
}

input, button {
  height: 7vw;
  max-height: 7vw;
  padding: 2%;
  margin: 0 0 3% 0;
  background-color: pink;
  border: none;
  outline: none;
  box-sizing: border-box;
}

input:hover, button:hover {
  background-color: rgb(242, 142, 159);
}

input::placeholder {
  color: white;
}

button:disabled {
  background-color: rgb(177, 90, 118);
}

.formLight {
  height: 2vw;
  max-height: 2vw;
  margin: 0;
}

#formStatus {
  color: white;
  text-align: center;
  font-size: 2vw;
}
