body {
  margin: 0;
  padding: 0;
  font-family: 'Lucida Sans', sans-serif;
}

div, aside, details, figcaption, figure, footer, header, main, mark, nav, section, summary, time {
  float: left;
  position: relative;
  box-sizing: border-box;
}

nav {
  z-index: 9;
}

/* global classes */
.formLightRed {
  background-color: rgb(180, 66, 102);
}

.formLightGreen {
  background-color: rgb(35, 129, 35);
}
